.calendarMain {
    padding: 20px;
    width: fit-content;
    height: 100vh;
}

.calendarMain .closeBtnContainer button:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: var(--backgroundsec);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: var(--lightprimarycolor);
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primarycolor);
}

.calendarMain .topContainer {
    display: flex;
    align-items: center;
}

.calendarMain h1 {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.calendar {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    height: fit-content;
}

.weeks {
    display: flex;
    width: 100%;
    padding: 10px;
}



.week {
    align-items: center;
    width: 14%;
    height: fit-content;
}

.dayContainer, .day, .calendar {
    border-collapse: collapse;
}




